*{
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
body{
     font-family: 'Cairo',sans-serif; !important
    background-color: #fff;
    color:#001d4b;
	overflow-x: hidden;
    transition: 0.5s;
}
nav{
   background-image: linear-gradient(to right, #000428, #004e92);
    text-align: right;
    padding-right: 30px;
    width: 100%;
    height: 80px;
}
       .card-body{
    width: 350px;
	margin-top: 50px;
    border-radius: 20px;
	box-shadow: 3px 4px #888888;
	background-color: white;
	height: 400px;
	padding-top: 50px;
	margin: auto;
    margin-top: 100px; !important
    transition: 0.5s;
}
select{
    font-size: 12px;
}
.card-body:hover{
	
	background-color: white;
	height: 400px;
	padding-top: 50px;
	border-radius: 20px;
	box-shadow: 5px 6px 5px 6px #888888;
}
           .loginButton{
   background-image: linear-gradient(to right, #000428, #004e92); 
    margin-top: 10px;
        padding-left: 50px;
               padding-right: 50px;
}
.loginButton:hover{
    background-color: #004e92;  
    margin-top: 10px;
    
 
}

      .searchbutton{
         background-image: linear-gradient(to right, #000428, #004e92); 
           margin-top: 10px;
           padding-left: 30px;
           padding-right: 30px;
           margin-right: 95px; 
}
.searchbutton:hover{
    background-color: #004e92;  
 
 
}
       
.previous{
	margin-top: 50px;
	cursor: pointer;
	background-color: white;
	height: 200px;
	padding-top: 50px;
	border-radius: 20px;
	box-shadow: 1px 2px #888888;
}
.previous:hover{
	cursor: pointer;
	background-color: white;
	height: 200px;
	padding-top: 50px;
	border-radius: 20px;
	box-shadow: 3px 4px 3px 4px #888888;
    transition: 0.5s;
}
.new{
    width: 100px;
	margin-top: 50px;
    border-radius: 20px;
	box-shadow: 1px 2px #888888;
	cursor: pointer;
	background-color: white;
	height: 200px;
	padding-top: 50px;
	margin-right: 120px;
    transition: 0.5s;
}
.new:hover{
	cursor: pointer;
	background-color: white;
	height: 200px;
	padding-top: 50px;
	border-radius: 20px;
	box-shadow: 3px 4px 3px 4px #888888;
}

label{
    font-size: 20px;
}
.heading{
    padding-top: 5px;
    padding-bottom: 5px;    
}

.headOfPersonal{
    height: auto;
   border: solid 2px #eee;
    background-image: linear-gradient(to right, #000428, #004e92); 
    border-radius: 5px;
    text-align: right;
    padding-right: 20px;
    color: white;
}
#form-container{
    text-align: right;
	background-color: #eee;
    
}
#showHide{
    transition: 0.5s;
    float: left;
    margin-left: 20px;
    
}
.headOfMarriage{
    height: auto;
   border: solid 2px #eee;
    background-image: linear-gradient(to right, #000428, #004e92); 
    border-radius: 5px;
    text-align: right;
    padding-right: 20px;
    color: white;
}
#form-container-Marriage{
    text-align: right;
	background-color: #eee;
    
}
#showHideMarriage{
    transition: 0.5s;
    float: left;
    margin-left: 20px;
    
}
.headOfMed{
    height: auto;
   border: solid 2px #eee;
   background-image: linear-gradient(to right, #000428, #004e92); 
    border-radius: 5px;
    text-align: right;
    padding-right: 20px;
    color: white;
}
#form-container-med{
    text-align: right;
	background-color: #eeeeee;
    
}
#showHideMed{
    
    float: left;
    margin-left: 20px;
    
}
.headOfRep{
    height: auto;
   border: solid 2px #eee;
   background-image: linear-gradient(to right, #000428, #004e92); 
    border-radius: 5px;
    text-align: right;
    padding-right: 20px;
    color: white;
}
#form-container-rep{
    text-align: right;
	background-color: #eee;
    
}
#showHideRep{
    
    float: left;
    margin-left: 20px;
    
}

#childern{
    display: block;
}
#geneticDiseases{
    display: block;
}
#bmiDiv{
    display: block;
}

.submitButton{
   background-image: linear-gradient(to right, #000428, #004e92);  
    margin-top: 10px;
}
.submitButton:hover{
    background-color: #004e92;  
    margin-top: 10px;
 
}
.editButton{
   background-color: #04a96d;  
    margin-top: 10px;
}
.editButton:hover{
    background-color: #04a96d;  
    margin-top: 10px;
 
}
.backButton{
    
    background-color: darkslategray;
    margin-left: 40px;
    margin-top: 10px;
}
.backButton a{
    text-decoration: none;
    color: white;
    
}
.backButton:hover{
    background-color: #6a7575;
}
.PrintButton{
    background-image: linear-gradient(to right, #000428, #004e92);  
    margin-top: 10px;
}
.PrintButton:hover{
    background-color: #004e92;  
    margin-top: 10px;
 
}
footer{
    background-image: linear-gradient(to right, #000428, #004e92);  
    text-align: center;
    width: 100%;
    height: 60px;
    color: white;
    padding-top: 20px;
    font-size: 22px; !important
    font-weight: 500;
     bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}